.container-div{
    margin: 0px 10%;
}

@media (min-width: 1200px){
    .container-div{
        margin: 0px 20%;
    }
}

.navbar{
    width: 100%;
    height: 60px;
    background:white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.navbar-scroll{
    width: 100%;
    height: 60px;
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.navbar span img{
    width: 48px;
    height: 48px;
    margin: 5px 20px;
}

.navbar-scroll span img{
    width: 48px;
    height: 48px;
    margin: 5px 20px;
}


/* CSS for error-page  */


.error-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}