.main-sp{
    margin-top: 80px;
    height: 100vh;
}

.main-sp h1{
    font-size: 42px;
    font-weight: 600;
    text-align: center;
}

.main-sp p{
    margin: 10px;
    font-size: 24px;
}

.main-sp p span{
    font-weight: bold;
    text-transform: capitalize;
}

.sp-detail{
  padding-top: 10%;
}

@media (min-width: 1200px){
    .sp-basic{
       padding: 40px;
    }
}